/* HTML 元素添加自己的默认基础样式 */
@layer base {
  /* h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  } */
}

/* 组件默认样式 */
@layer components {
  /* .card {
    background-color: var(--color-white);
    border-radius: var(--radius-lg);
    padding: --spacing(6);
    box-shadow: var(--shadow-xl);

    card类名在dark模式下的样式
    @variant dark {
      background: black;
    }
  } */
}

/* 
  自定义工具类
  @example
  <div class="content-auto hover:content-auto">
    <!-- ... -->
  </div>
 */
@utility content-auto {
  content-visibility: auto;
}
